<app-common pageTitle="Mailing">
  <ng-container [formGroup]="modalForm">
    <div>
      <label for="selectTemplate">Select a Template:</label>
      <select id="selectTemplate" [formControl]="modalForm.controls['template']">
        <option *ngFor="let template of templates" [value]="template.name">{{ template.name }}</option>
      </select>
    </div>
    
    <div>
      <label for="subject">Subject</label>
      <input id="subject" type="text" [formControl]="modalForm.controls['subject']">
    </div>
    <button class="btn btn-primary" (click)="sendMail()">Send</button>
  </ng-container>
</app-common>