:host {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  min-height: 100vh;
  background: #f0f0f0;
}

.content {
  column-gap: 0.5em;
  display: flex;
  padding: 1.5em;
  flex-grow: 2;
}